<html>

<head>
    <title>Indicsoft CRM - Reset Password</title>
</head>

<body style="font-family: Arial; font-size: 13px;">
    Hi! User,
    <div style="margin-top:10px;">You are one more step to recover your password.</div>
    <div style="margin-top:10px;font-weight:bolder;"><a href="<%-accessUrl%>">Click here reset your password</a></div>
    <div><img width="100px;" src="https://ci3.googleusercontent.com/proxy/MANtZyw85sSetL5tNGh00O2eBgoNQIatW0ig_mapGKFZlkPR4oS1DybAiUdFAKaWUOb8vQ1OQZXUEwjjiRZupvU3NyCaZQWPwe9SAXjqVzQm0psf_R1l-M6YiaAtrX8L2xNtKNPA55kkaQ=s0-d-e1-ft#https://d13pix9kaak6wt.cloudfront.net/avatar/users/i/n/d/indicsoft_1418902616_64.jpg"
        /></div>
    <div style="color:gray;">A-16, FF, DDA Shed Okhla,</div>
    <div style="color:gray;">Industrial Phase -2,</div>
    <div style="color:gray;">New Delhi-110020 Tel: 011-4102-9772</div>

</body>

</html>