<ul class="breadcrumb">
    <li class="active">Lead Profile</li>
</ul>
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Lead</strong> Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="text-center">
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal" ng-submit="addLead(lead)">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button class="btn btn-success btn-block">Convert to Contact</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">First Name</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                            <input type="text" class="form-control" ng-model="leadData.firstName" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                            <input type="text" class="form-control" ng-model="leadData.lastName" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Company Name</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                            <input type="text" class="form-control" ng-model="leadData.company" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mobile</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
                                            <input type="text" maxlength="10" only-digits class="form-control" ng-model="leadData.mobile" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                            <input type="email" class="form-control" ng-model="leadData.email" required/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" ng-model="leadData.assignName" />
                                </div>
                                <div>
                                    <input type="hidden" ng-model="leadData.assignId" />
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status</label>
                                    <div class="col-md-9">
                                        <select class="form-control select " ng-model="leadData.status">
                                            <option value="" selected>Select Status</option>
                                            <option ng-repeat="item in dropdownList" ng-if="item.type=='status'">{{item.dname}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Campaign</label>
                                    <div class="col-md-9">
                                        <select class="form-control select " ng-model="leadData.campaign" required>
                                            <option value="" selected>Select Campaign</option>
                                            <option ng-repeat="item in dropdownList" ng-if="item.type=='campaign'">{{item.dname}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Priority</label>
                                    <div class="col-md-9">
                                        <select class="form-control select " ng-model="leadData.priority" required>
                                            <option value="" selected>Select Priority</option>
                                            <option ng-repeat="item in dropdownList" ng-if="item.type=='priority'">{{item.dname}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" rows="5" ng-model="leadData.address"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Zip</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-thumb-tack"></span></span>
                                            <input type="text" class="form-control" ng-model="leadData.zip" required/>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary pull-right" ng-click="submitted==true" value="Submit" ng-disabled="disable">
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form ng-submit="newNote(noteData, leadData._id)">
                                <div class="form-group">
                                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="float:right;">
                                        <textarea class="form-control" rows="5" ng-model="noteData" placeholder="Add a note" ng-focus="addNote=true" required></textarea>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="float:right;margin-top:5px;" ng-show="addNote==true">
                                        <input type="submit" class="btn btn-primary" ng-click="submitted==true" value="Submit">
                                        <input type="button" class="btn btn-default" ng-click="addNote=false" value="Cancel">
                                    </div>
                                </div>
                            </form>
                            <div>
                                <div ng-repeat="noteList in noteList">
                                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="float:right;" ng-if="noteList.noteType=='firstNote'">
                                        <div class="note-container"></div>

                                        <div class="col-md-11 note-body" style="margin-top:10px; margin-left:8%;">
                                            <div>
                                                <div class="note-margin">
                                                    <span class="date-note">{{noteList.noteDate  | date:'d MMM, yyyy, hh:mm:ss a' : 'UTC + 5:30'}}</span>
                                                    <span> <span ng-if="noteList.actorId == userData._id"><strong>You</strong></span><span ng-if="noteList.actorId != userData._id"><strong>{{noteList.actor}}</strong></span> added <strong>{{noteList.action}}</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-circle"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="float:right;" ng-if="noteList.noteType=='changedNote'">
                                        <div class="note-container"></div>
                                        <div class="col-md-11 note-body" style="margin-top:10px; margin-left:8%;">
                                            <div>
                                                <div class="note-margin">
                                                    <span class="date-note">{{noteList.noteDate  | date:'d MMM, yyyy, hh:mm:ss a' : 'UTC + 5:30'}}</span>
                                                    <span><span ng-if="noteList.actorId == userData._id"><strong>You</strong></span><span ng-if="noteList.actorId != userData._id"><strong>{{noteList.actor}}</strong></span> <strong>added</strong> from
                                                    <strong>Cancelled</strong> to <strong>Draft</strong></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-circle"><i class="fa fa-usd" aria-hidden="true"></i></div>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12" style="float:right;" ng-if="noteList.noteType=='newNote'">
                                        <div class="note-container"></div>
                                        <div class="col-md-11 note-body" style="margin-top:10px; margin-left:8%;">
                                            <div>
                                                <div class="note-top-box">
                                                    <span><span ng-if="noteList.actorId == userData._id"><strong>You</strong></span><span ng-if="noteList.actorId != userData._id"><strong>{{noteList.actor}}</strong></span> left a Note</span>
                                                    <span class="date-note">{{noteList.noteDate  | date:'d MMM, yyyy, hh:mm:ss a' : 'UTC + 5:30'}}</span>
                                                </div>
                                                <div class="note-text ">{{noteList.message}}</div>
                                            </div>
                                        </div>
                                        <div class="item-circle"><i class="fa fa-file-text-o" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>