<div class="login-container">
    <div class="login-box animated fadeInDown">
        <div class="login-head">
            <div class="login-title"><strong>Indicsoft</strong> CRM</div>
        </div>
        <div class="login-body">
            <div class="login-title"><strong>Hello! {{resetJson.firstName}}</strong></div>
            <div class="login-title" style="font-size: 14px;">Last step to reset your password: </div>
            <form name="adminForm" valid-submit="saveResetPassword(resetJson)" class="form-horizontal">
                <div>
                    <div class="col-md-12">
                        <input type="hidden" class="form-control" placeholder="Reset Type" name="resetType" ng-model="resetJson.type" ng-disabled="true" required/>
                    </div>
                </div>
                <div>
                    <div class="col-md-12">
                        <input type="hidden" class="form-control" placeholder="Username" name="username" ng-model="resetJson.email" ng-disabled="true" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="resetJson.password" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" ng-model="resetJson.confirmPassword" required data-password-verify="resetJson.password" required/>
                    </div>
                </div>
                <div ng-show="adminForm.confirmPassword.$error.passwordVerify">
                    <div class="text-center" style="margin-bottom:10px;background: rgb(156, 43, 46) none repeat scroll 0% 0%; border-radius: 3px; padding: 6px 5px 6px 7px; color: #FFF;">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Password does not match
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-info btn-block" value="Reset Password" ng-click="submitted==true">
                    </div>
                </div>
                <div>
                    <div class="text-center" ng-if="loginError==true" style="background: rgb(156, 43, 46) none repeat scroll 0% 0%; border-radius: 3px; padding: 6px 5px 6px 7px; color: #FFF;">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{loginMessage}}
                    </div>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2016 Indicsoft Pvt Ltd
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
</div>